<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sohi_test" translate="label" sortOrder="1">
            <label>Test - Piotr Socha</label>
        </tab>
        <section id="sohi_test_weather_api" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>openweathermap.org</label>
            <tab>sohi_test</tab>
            <resource>Sohi_Test::config</resource>
            <group id="config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API Configuration</label>
                <field id="api_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                </field>
                <field id="city" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>City</label>
                </field>
            </group>
        </section>
    </system>
</config>
